.header
{
	margin:0;
	padding:0;
	height:60px;
	display:flex;
	align-items:center;
	background-color:#161b22;
	position:sticky;
	top:0;
	z-index:100;
	text-align:center
}

.header-title
{
  align-items: center;
	color:#ffffff;
	text-align:center;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	font-size:30px
}

.menu-item, .index-item
{
	color:silver;
	padding-right:10px;
	text-decoration:none;
	transition:.4s ease-in
}

.menu-item:hover, .index-item:hover
{
	color:#f0f0f0;
	font-size:18px
}

body
{
	background-color:#0d1117;
	margin:0;
	text-align: center;
}

.download-text{
	padding-top: 250px;
	font-size: 50px;
	align-items: center;
	text-align: center;
	color: #ffffff;
}
.download-button-area{
	align-items: center;
	text-align: center;
}


.button-wrapper {
	display: inline-block;
	margin: 20px 5px;
	padding: 40px;
}
.button {
    background: #0d1117;
    border: none;
    padding: 2px;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out .35s;
      margin: 0 auto;
      width: 300px;
      text-align: center;
  }
  .dark-button-2 .button,
  .dark-button-2 .button span {
    background: #0d1117;
    color: #fff;
  }
  .dark-button-2 .button:after,
  .dark-button-2 .button:before,
  .dark-button-2 .button:hover span {
    background: #fff;
    color: #444;
  }
  span {
    display: block;
		font-size:20px;
    padding: 15px 30px;
    background: #fff;
    z-index: 100;
    position: relative;
    transition: all .35s ease-in-out .35s;
  }
  .button:hover span {
    background: #36B4C7;
    color: #fff;
    transition: all .35s ease-in-out .35s;
  }
  .button:after {
    bottom: -100%;
    right: -100%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #36B4C7;
    transition: all .35s ease-in-out .5s;
  }
  .button:hover:after {
    right: 0;
    bottom: 0;
    transition: all ease-in-out .35s;
  }
  .button:before {
    top: -100%;
    left: -100%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #36B4C7;
    transition: all .35s ease-in-out .5s;
  }
  .button:hover:before {
    left: 0;
    top: 0;
    transition: all ease-in-out .35s;
  }
